<form action="/cart" method="post">
<<<<<<< HEAD
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
=======
>>>>>>> parent of 9a47bba... Update 2/4/2022
    <button class="btn" type="submit">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>